<a href="https://colab.research.google.com/github/link0328/pysolo/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#리스트의 항목 추가 및 삭제

In [ ]:
a_list = ['a','b','c','d','e']
a_list.append('f')
print(a_list,'\n')

n_list = [10,20,30,40]
n_list.append(50)
print(n_list,'\n')

del n_list[3]
print(n_list,'\n')

n_list.remove(20)
print(n_list,'\n')

['a', 'b', 'c', 'd', 'e', 'f']

[10, 20, 30, 40, 50]

[10, 20, 30, 50]

[10, 30, 50]

#리스트에 적용되는 내장함수

In [ ]:
list1 = [20,10,40,50,30]
min(list1)
max(list1)
sum(list1)

50

In [ ]:
fruits = ['banana', 'orange','apple','kiwi']
print(min(fruits))
max(fruits)

apple

'orange'

In [ ]:
k_fruits = ['사과','오렌지','포도','바나나']
print(min(k_fruits))
max(k_fruits)

바나나

'포도'

In [ ]:
num = [2,3,5,7]
print('1에서 10까지의 소수 : {}\n'.format(num))
print('최솟값 : {}\n'.format(min(num)))
print('최댓값 : {}\n'.format(max(num)))
print('합계 : {}\n'.format(sum(num)))
print('평균 : {}\n'.format(float(len(num))))

1에서 10까지의 소수 : [2, 3, 5, 7]

최솟값 : 2

최댓값 : 7

합계 : 17

평균 : 4.0

#리스트의 메소드

In [28]:
list1 = [20,10,40,50,30]
list1.sort()
print(list1,'\n')
list1.sort(reverse=True)
print(list1)

[10, 20, 30, 40, 50]

[50, 40, 30, 20, 10]

In [ ]:
a_lsit = ['a','b','c','d','e']
a_list.indeox('a')

In [31]:
b_list = ['a','b','c','a','b','a']
print(b_list.count('a'))
print(b_list.count('b'))
b_list.count('c')

3
2

1

In [35]:
list1 = ['a','b','c']
list2 = [1,2,3]
list1.extend(list2)
print(list1)
list1.extend('d')
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 'd']

###append() 메소드와 extend() 메소드의 차이점

In [36]:
list1 = [11,22,33,44]
list1.append([55,66])
list1

[11, 22, 33, 44, [55, 66]]

In [37]:
list1 = [11,22,33,44]
list1.extend([55,66])
list1

[11, 22, 33, 44, 55, 66]

#insert(), remove(), pop(), reverse() 메소드

In [38]:
list1 = ['a','c','d']
list1.insert(1,'b')
list1

['a', 'b', 'c', 'd']

In [41]:
list1 = ['a','b','c','b','d']
list1.remove('b')
print(list1)
list1.remove('b')
list1

['a', 'c', 'b', 'd']

['a', 'c', 'd']

In [42]:
list1 = ['a','b','c','d']
list1.pop() #list1의 마지막 원소 'd'를 삭제하고 반
print(list1)
list1 = ['a','b','c','d']
list1.pop(1)
print(list1)

['a', 'b', 'c']
['a', 'c', 'd']

In [43]:
list1 = [10,20,30,40]
list1.reverse()
list1

[40, 30, 20, 10]

In [50]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]